namespace: "box"
name: "builder"
version: "0.0.1"
address: ":6260"
repl_address: ":7979"
debug: false
registry:
  addresses: [""]
  type: 2
messaging:
  type: 1
  addresses: [""]
  durable: true
tracer:
  enable: false
  address: ""
  type: 1
resilience:
  rate_limiter:
    limit: 500
  circuit_breaker:
    timeout: 2500
logger:
  name: "builder-logger"
  level: 1
  color: true
credentials:
  client_id: ""
  client_secret: ""
  redirect_url: ""
  scopes: [""]
onlyoffice:
  builder:
    document_server_url: ""
    document_server_secret: ""
    document_server_header: ""
    gateway_url: ""
    callback_url: ""
