namespace: "box"
name: "gateway"
version: "0.0.1"
address: ":4044"
repl_address: ":9999"
debug: false
registry:
  addresses: [""]
  type: 2
cache:
  type: 2
  address: 127.0.0.1:6379
  username: ""
  password: ""
  database: 0
messaging:
  type: 1
  addresses: [""]
  durable: true
tracer:
  enable: false
  address: ""
  type: 1
resilience:
  rate_limiter:
    limit: 1000
    iplimit: 100
  circuit_breaker:
    timeout: 15000
cors:
  origins: [""]
  methods: ["GET", "POST", "DELETE", "OPTIONS", "PUT"]
  headers: ["*"]
  credentials: true
logger:
  name: "gateway-logger"
  level: 1
  color: true
worker:
  addresses: [""]
credentials:
  client_id: ""
  client_secret: ""
  redirect_url: ""
onlyoffice:
  builder:
    document_server_url: ""
    document_server_secret: ""
    document_server_header: ""
    gateway_url: ""
    callback_url: ""